# 1 - Sintaxis Python

1. [Declaración de variables](#declaracion)
2. [Comentarios](#comentarios)
3. [Operadores](#operadores)
    * 3.1 [Operadores - Aritméticos](#aritmeticos)
    * 3.2 [Operadores - Asignación](#asignacion)
    * 3.3 [Operadores - Comparación](#comparadores)
    * 3.4 [Operadores - Identidad](#identidad)
    * 3.5 [Operadores - Pertenencia](#pertenencia)
4. [Tipos de variables](#types)
5. [Consideraciones sobre las variables](#consideraciones)
6. [Operaciones con cadenas](#strings)
7. [Cambiando el tipo de variable](#cast)

## 1. Declaración de variables <a name="declaracion"></a>

In [ ]:
a = 5 # Entero

In [ ]:
b = 2.32 # Decimal

In [ ]:
c = 'Hola' # Carácter

In [ ]:
d = "Hola"

### Pregunta ¿Cómo pueden declararse más de dos variables en una misma línea de código?

In [ ]:
e, f = "Holi", "Mundo"

## 2. Comentarios <a name="comentarios"></a>

Una línea

In [ ]:
# Comentario simple, una línea

In [ ]:
v = a # La variable tomará el valor de la variable a que es 5

Multilínea, especialmente útiles para comentar correctamente las funciones que desarrollemos, en otras palabras, esto se conoce como __docstring__ https://peps.python.org/pep-0257/#multi-line-docstrings

In [ ]:
"""
Ejemplo de comentario de varias líneas:
línea 1
línea 2
....
línea n
"""

In [ ]:
"""También se puede realizar en una línea un comentario multilínea"""

__Importante__: Para comentar varias puedes seleccionar el código a comentar y pulsar:
* __CNTRL + /__ 
* **CNTRL + }** Si no tienes teclado numérico

Para descomentar se utiliza la misma combinación de teclas. Prueba a comentar y descomentar el código de la siguiente celda.

In [ ]:
# def my_func(number):
#     return number ** 2

# numero = 5

# my_func(number=numero)

## 3. Operadores <a name="operadores"></a>

### 3.1 Aritméticos <a name="aritméticos"></a>

In [3]:
a = 5
b = 2

In [4]:
a + b #Suma

7

In [5]:
a - b #Resta

3

In [ ]:
a * b #Multiplicación

In [ ]:
a / b #División

In [ ]:
a % b #Resto

In [ ]:
a ** b  #Exponencial

In [ ]:
a // b #División entera

### Ejercicio 1

Escribe un programa que muestre por pantalla el resultado de sumar tres variables de números

#### Solución

In [ ]:
x = 5
y = 3.45
z = 6

In [ ]:
suma = x + y + z

print("El resultado de la suma es ", suma, " Euros")

### Ejercicio 2

Escribe un programa que se encargue de elevar un número al cubo

#### Solución

In [7]:
base = 2
exponente = 3

In [8]:
resultado_cubo = base ** exponente

In [9]:
print('El resultado de elevar ', base, ' al cubo es ', resultado_cubo)

El resultado de elevar  2  al cubo es  8

### Ejercicio 3

Teniendo en cuenta los siguientes números

In [ ]:
a = 12
b = 9
c = 133
d = 0

Para añadir mas celdas de código es: Esc + b

¿Cómo podemos determinar si es par o impar?

#### Solución.

Sabiendo que un número par es el que, al dividirlo entre 2 devuelve resto cero, simplemente tedremos que dividir cada uno de los números entre dos

In [ ]:
a % 2 # Par

In [ ]:
b % 2 # Impar

In [ ]:
c % 2 # Impar

In [ ]:
d % 2 # Par

### Pregunta ¿Qué resultado obtendríamos del siguiente fragmento de código?

<code>
a = '1'
b = '1'

print(a + b)
</code>

* Error
* 11
* 2
* 4

### Pregunta ¿Qué resultado obtendríamos del siguiente fragmento de código?

<code>
a = 1
b = '1'

print(a + b)
</code>

* Error
* 11
* 2
* 4

Error

### 3.2 Operadores de asignación <a name="asignacion"></a>

In [ ]:
z = 100 # Asignación

In [ ]:
z += 20 # Suma de z más valor nuevo, equivalente a: x = x + n
z

In [ ]:
z -= 20 # Resta de z menos el valor nuevo, equivalente a: x = x - n
z

In [ ]:
z *= 2 # Multiplicación de z * n, equivalente a: x = x * n
z

In [ ]:
z /= 4 # División z entre n, equivalente a: x = x / n
z

In [ ]:
z %= 7 # Resto de z entre n, equivalente a: x = x % n
z

In [ ]:
z = 100
z //= 3 # Deivisión entera de z entre n, equivalente a: x = x // n
z

In [ ]:
z **= 3 # Exponencial de x a n, equivalente a: x = x ** n
z

### Pregunta ¿Qué resultado obtendríamos del siguiente fragmento de código?

<code>
a = 50
b = 7
c = 60
    
a, b, c += 5
</code>

* Error
* 55, 12, 65
* 250, 35, 300
* 10, 7, 12

In [12]:
Error

SyntaxError: 'tuple' is an illegal expression for augmented assignment (884562100.py, line 5)

### 3.3 Operadores - Comparación <a name="comparadores"></a>

In [14]:
x = 100

* __Mayor que__. Devuelve __True__ si la variable es mayor que el valor de la expresión, si no __False__

In [ ]:
x > 5

* __Menor que__. Devuelve __True__ si la variable es menor que el valor de la expresión, si no __False__

In [ ]:
x < 5

* __Mayor o igual que__
* __Menor o igual que__

In [ ]:
x >= 100

* __Igual que__: Devuelve __True__ si ambos valores son iguales, si no __False__

In [15]:
x == 100

True

In [18]:
x == '100' # Cuidado con los tipos...

False

In [ ]:
x == 100.0000001 # ¿Devolverá True?

In [ ]:
x == 100.01 # La comparación ha de ser completamente exacta

* __Distinto que__: Devuelve __True__ si ambos valores son diferentes, si no __False__

In [ ]:
x != 100

In [ ]:
x != 101

* __and__: Devuelve __True__ si las condiones de la igualdad se cumplen, si no devuelve __False__

In [ ]:
x > 36 and x < 200

In [ ]:
x > 36 and x > 200

* __or__: Devuelve __True__ si una de las condiciones de la igualdad se cumplen, si ninguna se cumple devuelve __False__

In [ ]:
x > 36 or x > 200

* __not__: Funciona en sentido inverso, es decir si el operador __and__ devuelve __True__ la condición devolverá __False__

In [ ]:
x > 36 and x < 200

In [ ]:
not(x > 36 and x < 200 )

### Ejercicio 4

Teniendo en cuenta los siguientes números

In [ ]:
a = 12
b = 9
c = 133
d = 0

¿Cómo podemos determinar si es par o impar?, nota: El resultado debe ser booleano (True o False)

#### Solución

In [ ]:
# En clase

### 3.4 Operadores de indentidad <a name="identidad"></a>

In [ ]:
a is x # Devuelve True si ambos términos son iguales, si no false

In [ ]:
a is not x # Devuelve True si ambos términos son distintos, si no false

Entonces si el operador `==` y el operador `is` son para comparar variables ¿Tienen la misma función?

En Python, los operadores == (igualdad) e is (identidad) se utilizan para comparar variables, pero tienen significados diferentes:
1. El operador `==` para igualdad:
    + Este operador se utiliza para comparar el contenido o el valor de dos variables.
    + Retorna True si los valores de las variables son iguales y False en caso contrario
2. El operador `is` (igualdad):
    + Este operador se utiliza para comprobar si dos variables apuntan al mismo objeto en la memoria.
    + Retorna True si las variables se refieren al mismo objeto y False en caso contrario

Esto es más avanzado pero, podemos demostrarlo con listas

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]

print(x is y)  # False, ya que x e y son objetos diferentes en la memoria
print(x == y)  # True, ya que los contenidos de las listas son iguales

### Pregunta

Si realizamos la siguiente asingación:

In [ ]:
a = 5
b = '5'

¿Qué devolverá la operación <code>a is b</code> ?

### Pregunta

Si realizamos la siguiente asingación:

In [ ]:
a = 'hola'
b = 'hol'

¿Qué devolverá la operación <code>a is b</code> ?

### Pregunta

Si realizamos la siguiente asingación:

In [ ]:
a = 'hola'
b = 'HOLA'

¿Qué devolverá la operación <code>a is b</code> ?

### 3.5 Operadores de pertenencia. <a name="pertenencia"></a>

In [ ]:
cadena = 'hola'

In [ ]:
'a' in cadena # Devuelve True si el primer elemento está en el segundo, si no false

In [ ]:
'a' not in cadena # Devuelve False si el primer elemento está en el segundo, si no True

### Pregunta

Si realizamos la siguiente asingación:

In [ ]:
a = 'HOL'
b = 'hola'

¿Qué devolverá la operación <code>a in b</code> ?

## 4. Tipos de variables <a name="types"></a>

* Numéricas:
    - Enteros - int.
    - Decimales - float.
* Cadenas de texto - string.
* Booleanos.

In [ ]:
entero = 5
print(entero)

In [ ]:
decimal = 6.2435
print(decimal)

In [ ]:
cadena = 'Hola mundo !'
print(cadena)

In [ ]:
boolean_t = True
print(boolean_t)

In [ ]:
boolean_f = False
print(boolean_f)

Conociendo el tipo de una variable, utilizar función <code>__type()__</code>

In [ ]:
type(entero)

In [ ]:
type(decimal)

In [ ]:
type(cadena)

In [ ]:
type(boolean_t)

## 5. Consideraciones sobre las variables <a name="consideraciones"></a>

Es importante construir los nombres de las variables correctamente, para ello se pueden seguir algunas de las siguientes consideraciones:

* No tomar nombres excesivamente largos.
* No asignar números a los nombres de las variables.
* En caso de asignar números, mejor hacerlo al final del nombre de la variable.
* No incluir espacios en los nombres de las variables, mejor guión bajo (muy extendido en la comunidad Python).
* No emplear signos de puntuación o caracteres especiales para declarar variables.
* No utilizar nombres de palabras reservadas en Python como: print, class, assert, if, for, while, pass, continue, break, etc.

In [19]:
import keyword 
keyword.kwlist # Lista con los nombres de palabras reservadas en Python

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
@a = 5

In [ ]:
2b = 2

In [ ]:
b_2 = 2

In [ ]:
mi_variable = 'hola'

## 6. Operaciones con cadenas <a name="strings"></a>

Existen algunas operaciones interesantes con cadenas de texto que es importante mencionar

Convertir una cadena de texto a mayúsculas <code>.upper()</code>

In [20]:
cadena_texto = "Hola soy estudiante de IMF"
cadena_texto.upper()

'HOLA SOY ESTUDIANTE DE IMF'

Convertir una cadena de texto a minúsculas <code>.lower()</code>

In [21]:
cadena_texto.lower()

'hola soy estudiante de imf'

In [22]:
cadena_texto.upper()

'HOLA SOY ESTUDIANTE DE IMF'

Para concatenar cadenas empleamos el operador +

In [23]:
parte_uno = 'Hola'
parte_dos = 'soy Juan Manuel'

In [24]:
presentacion = parte_uno + " " + parte_dos
print(presentacion)

Hola soy Juan Manuel

Para separar una cadena de texto en espacios utilizamos la función <code>.split()</code>

In [25]:
presentacion.split(' ')

['Hola', 'soy', 'Juan', 'Manuel']

Para borrar espacios al inicio de una frase se utiliza la función <code>.lstrip()<code>

In [26]:
mi_frase = '  Hola soy    un estudiante   de IMF   '
mi_frase

'  Hola soy    un estudiante   de IMF   '

In [27]:
mi_frase.lstrip()

'Hola soy    un estudiante   de IMF   '

Para borrar espacios al final de una frase se utiliza la función <code>.rstrip()<code>

In [28]:
mi_frase.rstrip()

'  Hola soy    un estudiante   de IMF'

Para borrar espacios tanto al final como al principio se utiliza la función <code>.strip()</code>

In [29]:
mi_frase.strip()

'Hola soy    un estudiante   de IMF'

También es posible añadir diferentes separadores de texto cuando realizamos print()

* Tabulador \t

In [30]:
print('HOLA !!')
print('\tHOLA !!')
print('\t\tHOLA !!')

HOLA !!
	HOLA !!
		HOLA !!

* Salto de línea \n

In [31]:
print('Hola\n soy un estudiante\n de IMF')

Hola
 soy un estudiante
 de IMF

Mucho ojo al utilizar apóstrofes...

In [32]:
print('Hi ! I'm Juan Manuel)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3824563065.py, line 1)

In [36]:
print("Hi ! I'm Juan Manuel") # Cuando tengamos cadenas de texto que empleen apóstrofe, mejor dobles comillas.

Hi ! I'm Juan Manuel

Otra forma... operador especial contrabarra o backslash

In [33]:
print('Hi ! I\'m Juan Manuel')

Hi ! I'm Juan Manuel

Para obtener la longitud de una cadena utilizamos la función <code>len(cadena)</code>

In [34]:
len(presentacion)

20

Para conocer el número de veces que aparece una sub-cadena utilizaremos <code>.count()</code>

In [37]:
presentacion.count('a')

3

Si necesitamos reemplazar una sub-cadena de texto por otra, utilizaremos la función <code>.replace()</code>, es importante resaltar que esta función recibe dos parámetros uno, la sub-cadena de texto a reemplazar y, el otro parámetro la sub-cadena de texto nueva

In [38]:
presentacion.replace('Juan', 'Jose')
presentacion

'Hola soy Juan Manuel'

Si es necesario mostrar la primera letra de una cadena de texto como mayúsculas, utilizaremos la función <code>.capitalize()</code>

In [39]:
texto = 'hola'
texto.capitalize()

'Hola'

Es importante saber que pueden emplearse varias funciones al mismo tiempo sobre una cadena.

Por ejemplo, vamos a pasar a minúsculas la siguiente frase y además suprimir los espacios que pueda haber al principio y al final de la frase

In [40]:
mi_frase.lower().strip()

'hola soy    un estudiante   de imf'

### Ejercicio 5.

Dada la siguiente frase:

In [42]:
conjunto_frases = "frase uno, frase dos, frase tres, frase cuatro   "

In [43]:
str_strip = conjunto_frases.strip()
str_strip

'frase uno, frase dos, frase tres, frase cuatro'

In [45]:
str_strip.capitalize()

'Frase uno, frase dos, frase tres, frase cuatro'

Mucho más directo... En una sola línea de código

In [47]:
conjunto_frases.strip().capitalize().replace("frase","mensaje").split(",")

['Frase uno', ' mensaje dos', ' mensaje tres', ' mensaje cuatro']

## 7. Cambiando el tipo de variable. <a name="cast"></a>

Como ya sabemos, en Python, no hay que especificar el tipo de variable en su momento de creación ya que es un lenguaje tipado, no obstante, a veces puede ser necesario cambiar el tipo de variable, es decir, pasar de carácter a entero, de entero a float, etc. Veamos algunos ejemplos.

De entero a float

In [48]:
my_int = 5
my_int

5

In [49]:
int_to_float = float(my_int)
int_to_float

5.0

In [50]:
type(int_to_float)

float

De float a entero

In [52]:
my_float = 3.14
my_float

3.14

In [53]:
float_to_int = int(my_float)
float_to_int # Importante !! borra la parte decimal.

3

In [54]:
type(float_to_int)

int

Carácter a entero

In [55]:
my_chr = '5'
my_chr

'5'

In [56]:
chr_to_int = int(my_chr)
chr_to_int

5

In [57]:
type(chr_to_int)

int

### Pregunta

Si realizamos la siguiente asingación:

In [51]:
my_chr = '1a'

¿Qué devolverá la operación <code>int(my_chr)</code> ?

Enterero a cadena de texto

In [ ]:
my_int = 6000
my_int

In [ ]:
int_to_str = str(my_int)
int_to_str

In [ ]:
type(int_to_str)

Float a cadena de texto

In [ ]:
my_float = 32.56
my_float

In [ ]:
float_to_str = str(my_float)
float_to_str

In [ ]:
type(float_to_str)