# PANDAS

<img src=https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/1200px-Pandas_logo.svg.png>

1. [Series](#series)
2. [Dataframes](#dataframe)
3. [Cargando archivos como Dataframes](#files)
4. [Trabajando con filas y columnas](#rowxcolumns)
    + 4.1 [Series y columnas de un dataframe](#cols)
    + 4.2 [Selección de múltiples columnas](#columns)
    + 4.3 [Selección de mútiples filas](#rows)
    + 4.4 [Resumen función iloc](#iloc)
    + 4.5 [Índices de un dataframe](#index)
5. [Funciones sobre dataframes](#functions)
6. [Agrupaciones sobre Dataframes](#groupy)
7. [Merge de dataframes](#merge)
8. [Nuevas columnas](#newcolumnas)
9. [Borrado de filas y columnas](#drop)
10. [Gestión de nulos](#dropna)

Importamos la librería pandas para poder trabajar con DataFrames en Python, en caso de que no venga instalada por defecto podemos realizar lo siguiente:
* <code>pip install pandas</code>
* <code>conda install pandas</code>
* <code>conda install -c anaconda pandas </code>

In [1]:
# Importamos pandas, utilizaremos el alias para denominar a cada función de pandas 'pd'
import pandas as pd

## Series <a name="series"></a> 

Se trata de una colección indexada que funciona de un modo similar a un diccionario de datos, es la unidad mínima con la que podemos trabajar en Pandas, de hecho, un Dataframe no es más que una sucesión de series.

Debemos tener en cuenta que las series funcionan de forma similar a un diccionario de datos donde tenemos los archivos formados por {clave_1: 'valor uno', clave_2. 'valor dos', ....., clave_n: 'valor m'}. Las series pueden formarse a través de un numpy array o una lista y unos valores que actuarán como índices (si no se introducen se tomarán por defecto de 0 a la longitud del conjunto de elementos).

Para crear una serie, simplemente utilizaremos la función <code>**Series**</code>

In [2]:
criptos = pd.Series(
    [15613.77, 496.29, 0.52, 0.83, 242.03], 
    index= ['Bitcoin', 'Ethereum', 'XRP', 'Tether', 'BTC Cash']
)

criptos

Bitcoin     15613.77
Ethereum      496.29
XRP             0.52
Tether          0.83
BTC Cash      242.03
dtype: float64

Las seires tienen su propio tipo

In [3]:
type(criptos) # Clase Series

pandas.core.series.Series

In [4]:
criptos[0: 2]

Bitcoin     15613.77
Ethereum      496.29
dtype: float64

In [5]:
criptos['Bitcoin']

15613.77

### Pregunta.

Un objeto `pandas.Series` al ser similar a un diccionario de datos, ¿posee funciones similares a un diccionario de datos como `.keys()`o, `.values()`?

In [6]:
criptos.keys()

Index(['Bitcoin', 'Ethereum', 'XRP', 'Tether', 'BTC Cash'], dtype='object')

## Dataframes <a name="dataframe"></a> 

La función principal que nos permite pasar prácticamente cualquier tipo de variable (lista, array, diccionario de datos...) es:
* <code>__pandas.DataFrame()__</code>

Veremos cómo crear DataFrames desde diferentes estructuras de datos.

* A través de **Series**

In [7]:
# Creamos un Dataframe a través del objeto Series
df_criptos = pd.DataFrame(criptos)

# Vemos que por defecto, se genera una columna con nombre 0, 
# ya que no se lo hemos especificado.
df_criptos

                 0
Bitcoin   15613.77
Ethereum    496.29
XRP           0.52
Tether        0.83
BTC Cash    242.03

* A través de **Numpy Array**

In [8]:
# Ejemplo 2 a través numpy array
import numpy as np

# Creamos un array de 5 número aleatorios
array_uno = np.random.rand(5)

pd.DataFrame(array_uno)

          0
0  0.188623
1  0.018089
2  0.991158
3  0.418544
4  0.004762

Importante destacar en el ejemplo anterior, que al no utilizar ningún parámetro como índice, automáticamente ha tomado valores de 0 a n

* A través de **Listas**

In [9]:
# Ejemplo 3 listas

# Creamos una lista
lista = ['hola mundo', 1, 3.14, 'adios']

# Pasamos la lista a un DataFrame
df_list = pd.DataFrame(lista)

df_list

            0
0  hola mundo
1           1
2        3.14
3       adios

* A través de un **diccionario de datos**

In [10]:
# Ejemplo 4 Diccionario de datos

# Creamos un Diccionario de datos
dict_cli = {'ID001': 'Cliente uno',
            'ID002': 'Cliente dos',
            'ID003': 'Cliente tres',
            'ID004': 'Cliente cuatro',
            'ID005': 'Cliente cinco'}

dict_cli

{'ID001': 'Cliente uno',
 'ID002': 'Cliente dos',
 'ID003': 'Cliente tres',
 'ID004': 'Cliente cuatro',
 'ID005': 'Cliente cinco'}

In [11]:
# Pasamos el dict a un DataFrame

df_dict = pd.DataFrame.from_dict(dict_cli, orient='index')

df_dict

                    0
ID001     Cliente uno
ID002     Cliente dos
ID003    Cliente tres
ID004  Cliente cuatro
ID005   Cliente cinco

Nótese que cuando se trata de un diccionario de datos, tenemos que utilizar el parámetro **orient** para que reconozca correctamente el campo clave como índice. De lo contrario, podemos utilizar el parámetro **index**

In [12]:
print(type(df_dict))

<class 'pandas.core.frame.DataFrame'>

### Ejercicio 1

Tomando la siguiente lista como referencia:

In [13]:
calificaciones = [
    ('Alberto', 4),
    ('Noelia', 7.25),
    ('Marcos', 9),
    ('Guillermo', 5.25)
]

Crea un dataframe a través de la lista.

#### Solución

In [14]:
# En clase
pd.DataFrame(calificaciones)

           0     1
0    Alberto  4.00
1     Noelia  7.25
2     Marcos  9.00
3  Guillermo  5.25

### Cargando archivos como Dataframes <a name="files"></a> 

Una de las grandes ventajas que supone trabajar con DataFrames es que podemos cargar archivos muy fácilmente y poder procesar sus filas y columnas. Hay varios tipos de datos que podemos cargar a pandas:

* CSV
* JSON
* HTML
* EXCEL
* HDF5
* TXT
* ORC
* STATA
* ...

Todos los tipos de datos que podemos cargar se encuentran en el siguiente link: https://pandas.pydata.org/docs/user_guide/io.html#io

A lo largo del contenido mostraremos las principales funcionalidades de los dataframes desde csv como dataframe.

Para cargar un csv como un Dataframe disponemos de la función </code>**read_csv**</code>

In [19]:
houses = pd.read_csv('C:/Users/Cristian Mendieta/OneDrive/Escritorio/Data Science/Pandas')

PermissionError: [Errno 13] Permission denied: 'C:/Users/Cristian Mendieta/OneDrive/Escritorio/Data Science/Pandas'

In [18]:
houses

NameError: name 'houses' is not defined

### Ejercicio 2

Lee el archivo 'compras_uno.csv' como dataframe

#### Solución

In [ ]:
# En clase

### Ejercicio 3

Lee el archivo 'compras_dos.csv' como dataframe

#### Solución

In [ ]:
# En clase

### Ejercicio 4

Lee el archivo 'compras_tres.csv' como dataframe

#### Solución

In [ ]:
# En clase

### Ejercicio 5

Lee de nuevo el archivo 'housing_California.csv' como dataframe, utiliza el parámetro `header=None`

#### Solución

In [ ]:
# En clase

### Ejercicio 6

Lee de nuevo el archivo 'housing_California.csv' como dataframe, utiliza el parámetro `header=[0,1,2]`

#### Solución

In [ ]:
# En clase

### Ejercicio 7


Carga el dataset 'housing_California.csv', cargando solamente las columnas housing_median_age y population

#### Solución

In [ ]:
ej_7 = pd.read_csv('housing_California.csv', usecols=['housing_median_age', 'population'])

ej_7 # Con usecols podemos definir las columnas que necesitemos cargar en el momento de lectura

## Trabajando con filas y columnas de un dataframe <a name="rowsxcolumns"></a> 

### Series y Columnas de un dataframe. <a name="cols"></a> 

Tal y como hemos visto antes un dataframe es una sucesión o colección de series, es decir, que cada columna actúa como una serie ya que todas las columnas comparten el mismo índice. 

Para acceder a una columna tenemos que escribir entre corchetes el nombre de la misma.

In [ ]:
houses['housing_median_age']

Si atendemos al tipo de clase que tiene una columna veremos que es Series

In [ ]:
type(houses['housing_median_age'])

Otra forma de acceder a las columnas de un dataframe es:

* nombre_df.__nombre_columna__ (sin las comillas de string)

In [ ]:
houses.housing_median_age

### Selección de múltiples columnas <a name="columns"></a> 

Ahora que ya hemos visto como un DataFrame se compone de Series, podemos ver cómo seleccionar varias columnas. Para ello, simplemente tenemos que encerrar entre corchetes los nombres de las columnas que queremos seleccionar como:

__nombre_df[['columna_uno', 'columna_dos', 'columna_tres']]__

Análogamente, podremos pasar una lista con nombres de las columnas.

Para realizar lo mismo mediante indexación, es decir, obtener un subconjunto de columnas del dataframe por la posición que ocupan las columnas podemos hacer:
* __nombre_dataframe[nombre_dataframe.columns[[col_n, col_m]]]__
* __nombre_dataframe.iloc[:, [col_n, col_m]]__

Mediante nombres de columnas.

In [ ]:
houses[['housing_median_age', 'total_bedrooms']]

In [ ]:
target = ['housing_median_age', 'total_bedrooms', 'population']
houses[target]

Mediante índices

In [ ]:
houses.columns[1]

In [ ]:
houses.columns[0: 4]

In [ ]:
houses[houses.columns[2:6]]

Para seleccionar varias columnas con iloc, tenemos que tener en cuenta que un dataframe se distribuye de la siguiente manera.

* __dataframe[filas, columnas]__: En donde tanto filas como columnas son indexables

In [ ]:
houses.iloc[:,[1,3]]

In [ ]:
# houses.iloc[:,['latitude', 'total_rooms']] # Solo funciona con números

### Selección de múltiples filas de un dataframe <a name="rows"></a> 

Por lo general, podemos utilizar las mismas propiedades que las de las listas, salvo seleccionar una única fila que es diferente:
* Para seleccionar desde la primera fila hasta un límite realizamos: <code>__dataframe[0:n]__</code>, análogamente podemos omitir el cero y realizar simplemente: <code>__dataframe[ :n]__</code>
* Para seleccionar desde una fila hasta el final realizamos: <code>__dataframe[n:]__</code>
* Para seleccionar un rango definido de filas realizamos: <code>__dataframe[n:m]__</code>

In [ ]:
# Seleccionamos de la fila 0 a la 2
houses[0:2]

In [ ]:
# Vemos que es lo mismo si quitamos el cero.
houses[:2]

In [ ]:
# Seleccionamos de fila n al final
houses[20635:]

In [ ]:
# Rango personalizado, escogemos de fila 150 a 200
houses[150:200]

Para seleccionar una sola fila no podemos hacer la misma operación que en las listas, indexar una única posición <code>lista[n]</code>, ya que esto no nos devuelve nada, para ello, tenemos que seleccionar como un rango personalizado la fila que queremos mostrar más una posición <code>dataframe[n:n+1]</code>

In [ ]:
houses[1000:1000]

In [ ]:
houses[1000:1001]

### Resumen función iloc <a name="iloc"></a> 

Con la función __.iloc__ podemos seleccionar varias filas de una forma muy sencilla que puede resumirse como:
* <code>dataframe.iloc[0]</code> - Primera fila de un dataframe.
* <code>dataframe.iloc[1]</code> - Segunda fila de un dataframe.
* <code>dataframe.iloc[-1]</code> - (Indexación negativa) Última fila de un dataframe
* <code>dataframe.iloc[[n]]</code> - Fila _n_ del dataframe.
* <code>dataframe.iloc[n:m]</code> - Rango personalizado de las filas _n_ a _m_

En columnas el resumen de la función __.iloc__ pasaría a ser:
* <code>dataframe.iloc[:, 0]</code> - Primera columna de un dataframe.
* <code>dataframe.iloc[:, 1]</code> - Segunda columna de un dataframe.
* <code>dataframe.iloc[-1]</code> - (Indexación negativa) Última columna de un dataframe
* <code>dataframe.iloc[:,[n,m]]</code> - Exactamente, las columnas _n_ y _m_ de un dataframe.
* <code>dataframe.iloc[:, n:m]</code> - Rango personalizado de las columnas _n_ a _m_ de un dataframe.

Podemos también realizar una selección múltiple de columnas filas con __.iloc__ con los siguientes ejemplos:
* <code>dataframe.iloc[[0,5,7,9], [1,4]]</code> - Selección de las filas 0,5,7,9 de las columnas 1 y 4
* <code>dataframe.iloc[0:10, 0:2]</code> - Selección basada en rangos de las filas 0 a 10 de las columnas 0 a 2

In [ ]:
houses.iloc[[20,5680,19875], [3, 5]]

In [ ]:
houses.iloc[0:10, 0:3]

### Índices de un DataFrame <a name="index"></a> 

Se tratan de las posiciones que ocupa cada fila dentro de un dataframe, a no ser que se especifique un tipo de índice concreto basado en etiquetas, los índices serán de 0 a la longitud total del dataframe

In [ ]:
# Creamos un dataframe
ventas = {
   'region': ["EUROPA", "EUROPA", "EUROPA", 
              "USA", "USA", "USA", "LATAM", "LATAM"],
   'ventas':[153752, 168742, 162587, 256198, 285743, 290371, 145638, 151678],
   'anio':[2018, 2019, 2020, 2018, 2019, 2020, 2018, 2019]
}
df = pd.DataFrame(ventas)
df

Para observar el índice de un dataframe podemos hacer uso de su atributo <code>**index**</code>

In [ ]:
df.index

Dependiendo de cómo estén formados nuestros datos, vamos a poder crear multi índices basados en columnas propias de nuestro dataframe, si nos fijamos la columna region y anio tienen elementos repetidos. Esto nos permitirá hacer multi-índices donde tengamos un continente por año de ventas.

Con la función <code> set_index()</code> vamos a poder establecer un nuevo índice

In [ ]:
region_year = df.set_index(["region", "anio"])
region_year

En vista del nuevo dataframe, podemos ver que ahora las columnas region y anio actúan como índice, por lo que si consultamos la primera fila...

In [ ]:
region_year.iloc[0]

Obtenemos el dato que pertenece al volumen de ventas, siendo region (Europe) y el año (2018) sus índices

Del mismo modo, podemos pasar una lista como índice a un dataframe. Obviamente, esta lista debe ser de la misma longitud que el dataframe.

In [ ]:
indice = ['REGISTRO_1', 'REGISTRO_2', 'REGISTRO_3', 'REGISTRO_4', 
          'REGISTRO_5', 'REGISTRO_6', 'REGISTRO_7', 'REGISTRO_8']

df.index = indice

df

Con la función <code>.loc</code> podemos buscar elementos en el índice

In [ ]:
df.loc['REGISTRO_6']

## Funciones sobre dataframes <a name="functions"></a> 

A continuación, vamos a ver un listado de algunas de las principales funciones que podemos aplicar en un dataframe para operar en sus columnas:

* Obtener las primeras filas de un dataframe con __<code>.head</code>__
* Obtener las últimas filas de un dataframe con __<code>.tail</code>__
* Obtener los elmentos únicos de una columna de un dataframe con __<code>.unique</code>__
* Obtener la frecuencia de los valores únicos de una columna de un dataframe __<code>.value_counts</code>__
* Obtener un resumen estadístico del dataset con __<code>.describe</code>__
* Obtener la media de una columna con __<code>.mean</code>__
* Obtener una copia de un dataframe con __<code>.copy</code>__
* Ver los nombres de las columnas de un dataframe con __<code>.columns</code>__
* Obtener la correlación entre todas las variables numéricas con __<code>.corr</code>__
* Borrar duplicados de un dataframe con __<code>.drop_duplicates</code>__
* Especialmente para Big Data sets podemos ver el consumo en memoria RAM de nuestro dataset con __<code>.memory_usage</code>__
* Ver un resumen resumen gráfico (basado en densidad, scatter plots y gráficas de correlaciones) de todas las variables del dataframe con __<code>.scatter_matrix</code>__
* Obtener un histograma de cada variable numérica del dataset con __<code>.hist</code>__
* Obtener el esquema de los datos con __`info`__

### Primeras filas de un Dataframe

In [ ]:
# Primeras filas del dataframe
houses.head()

Si en .head() no especificamos nada, por defecto, se muestran 5, podemos especificar el número de filas a mostrar.

In [ ]:
houses.head(9)

### Últimas filas de un Dataframe

Lo mismo pasa con el comando __tail__, si no le pasamos como parámetro el número de filas a visualizar, tomará las últimas 5

In [ ]:
houses.tail()

In [ ]:
houses.tail(2)

### Valores únicos por columna

In [ ]:
# Observamos los valores únicos de la columna 
houses['ocean_proximity'].unique()

In [ ]:
houses['latitude'].unique()

In [ ]:
houses['ocean_proximity'].value_counts()

Como podemos comprobar esta es una función que tiene un mayor impacto en variables categóricas, ya por lo general, las variables numéricas tienen demasiados valores diferentes.

### Resumen estadístico

In [ ]:
# Resumen estadístico.
houses.describe()

Es interesante observar que el resumen estadístico descarta automáticamente cualquier variable que no sea numérica.

### Media de una columna

In [ ]:
print('Media de la variable total rooms', round(houses['total_rooms'].mean(), 3))
print('Media de la variable total bedrooms', round(houses['total_bedrooms'].mean(), 3))

### Copia de un dataframe

Al igual que en listas y arrays los dataframes comparten memoria. Es fácil equivocarnos y asignar a una nueva variable un dataframe completo, posteriormente, en esta nueva variable realizar modificaciones, pensando que sólamente las estamos realizando en la copia del dataframe, pero no es así, estamos realizando modificaciones en ambos dataframes ya que al estar almacenados en memoria, comparten las mismas posiciones, veamos un ejemplo de como NO copiar un dataframe.

In [ ]:
bad_copy = houses

# Modificamos la primera fila por ceros
bad_copy.iloc[[0]] = np.zeros(len(houses.columns))

bad_copy.head(3)

Observamos que los cambios se reflejan en el dataframe original

In [ ]:
houses.head(2)

Por lo tanto, hemos modificado ambos dataframes, para únicamente realizar modificaciones sobre la copia, hemos de hacer uso del comando <code>.copy</code>

In [ ]:
houses = pd.read_csv('housing_California.csv')

# Copiamos correctamente el dataframe
df_copia = houses.copy()

df_copia.iloc[[0]] = np.zeros(len(houses.columns))

df_copia.head(2)

In [ ]:
houses.head(2)

### Correlaciones de las variables numéricas

In [ ]:
houses.corr()

Nótese que automáticamente toma todas las variables numéricas.

### Nombres de las columnas de un dataframe

In [ ]:
houses.columns

In [ ]:
houses.columns[3]

Las columnas de un dataframe pueden trabajarse como listas

### Borrar duplicados de un dataframe

In [ ]:
# Para verlo más claro, vamos a realizar una copia de las diez primeras posiciones del data frame
ten_rows = houses.head(10).copy()

In [ ]:
# Duplicamos la fila 9 varias veces
ten_rows = ten_rows.append(ten_rows.iloc[[9]])
ten_rows = ten_rows.append(ten_rows.iloc[[9]])
ten_rows = ten_rows.append(ten_rows.iloc[[9]])
ten_rows = ten_rows.append(ten_rows.iloc[[9]])
ten_rows = ten_rows.append(ten_rows.iloc[[9]])

In [ ]:
ten_rows

In [ ]:
ten_rows = ten_rows.drop_duplicates(inplace = False, keep = 'first')
ten_rows

### Uso de RAM para un dataframe

In [ ]:
# Consumo RAM del dataframe en BYTES
houses.memory_usage()

### Análisis gráfico con scatter matrix

In [ ]:
# Configuración para mostrar gráficas en notebook
%pylab
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# Importamos scatter_matrix
from pandas.plotting import scatter_matrix

# Es necesario que configuremos el tamaño de las gráficas que será el mismo que el número de columnas
scatter_matrix(houses, figsize = (len(houses.columns), 
                                  len(houses.columns)), 
               diagonal = 'kde');

### Histogramas de las variables numéricas

In [ ]:
# Histogramas de cada variable continua del dataframe.
houses.hist(figsize = (len(houses.columns), len(houses.columns)))

### Cambiando el tipo de las variables.

Con la función `info` podemos obtener la información del tipo de variables.

In [ ]:
houses.info()

Como podemos comprobar, todas las variables son de tipo float, excepto ocean_proximity que es de tipo object, cuando la realidad es que esto, no es así, algunas de las transformaciones más importantes que podemos realizar en un dataframe sobre sus variables es cambiarles el tipo, es decir que pasen a ser categóricas o tipo fecha, vamos a ver cómo cambiar a tipo categórica las variables de un dataframe.

Una de las posibles formas de cambiar el tipo de una variable es a través de `pd.Categorical`

In [ ]:
houses["ocean_proximity"] = pd.Categorical(houses["ocean_proximity"])

Mostramos la información del dataframe de nuevo

In [ ]:
houses.info()

Ahora, podemos mostrar un resumen estadístico solamente de las variables categóricas

In [ ]:
houses.describe(include='category')

## AGRUPACIÓN DE DATAFRAMES - GROUP BY <a name="groupby"></a> 

Al igual que en SQL, desde Python también podemos realizar agrupaciones de nuestros datos con la función __<code>groupby</code>__

In [ ]:
# Agrupamos por la media de los valores numéricos para la columna ocean_proximity
houses.groupby(['ocean_proximity']).mean()

In [ ]:
# Observamos cuántos tipos el total de dormitorios en función de
# su frecuencia.
houses.groupby(['total_bedrooms']).count()

In [ ]:
houses.groupby(['total_bedrooms']).count()['ocean_proximity']

In [ ]:
# Obtener el porcentaje de valores para una variable categórica
print((pd.crosstab(index=houses["ocean_proximity"], columns="count"))/len(houses) * 100)

## MERGE DE DATAFRAMES <a name="merge"></a> 

En algunas ocasiones, vamos a necesitar unir dos o más datasets para ello, en primer lugar, al igual que con listas, podemos hacer uso de la función __<code>.append</code>__

Debido a la dimensión de filas y columnas del dataframe, vamos a crear dos dataframes más reducidos para poder ejemplificar correctamente la función append.

In [ ]:
# Creamos datasets reducidos
first_positions = houses[['housing_median_age', 
                             'total_rooms', 
                             'total_bedrooms']].head(5).copy()


last_positions = houses[['housing_median_age', 
                             'total_rooms', 
                             'total_bedrooms']].tail(4).copy()

print(first_positions.shape)
print(last_positions.shape)

In [ ]:
# Unimos ambos datasets con append
first_positions = first_positions.append(last_positions)

print(first_positions.shape)

In [ ]:
first_positions

Es importante que tengamos en cuenta con la presencia de nuevas columnas que aparezcan solamente en uno de los dataframes que vayamos a concatenar. Para ejemplificarlo, vamos a obtener de nuevo los datasets, dando una columna a más al dataset con las últimas posiciones.

In [ ]:
# Creamos datasets reducidos
first_positions = houses[['housing_median_age', 
                             'total_rooms', 
                             'total_bedrooms']].head(5).copy()


last_positions = houses[['housing_median_age', 
                             'total_rooms', 
                             'total_bedrooms',
                             'households']].tail(4).copy()

print(first_positions.shape)
print(last_positions.shape)

In [ ]:
# Unimos ambos datasets con append
first_positions = first_positions.append(last_positions)

first_positions

En segundo lugar, podemos hacer uso de la función __<code>.concat</code>__. Es muy importante saber los tipos de unión ( _join_ ) que podemos realizar al concatenar datasets
* __inner__: Se realiza la unión por los elementos comunes de ambos datasets.
* __outer__: La unión se realiza por todos los elementos entre los datasets
    
Se recomienda echar un vistazo a la documentación para ver los diferentes tipos de join que podemos realizar. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

In [ ]:
first_positions = houses[['housing_median_age', 
                             'total_rooms', 
                             'total_bedrooms',
                             'ocean_proximity']].head(5).copy()


last_positions = houses[['housing_median_age', 
                             'total_rooms', 
                             'total_bedrooms',
                             'households',
                             'ocean_proximity']].tail(4).copy()

union_outer = pd.concat([first_positions, last_positions], 
                        ignore_index=True, join='outer')

union_outer

In [ ]:
union_inner = pd.concat([first_positions, last_positions], 
                        ignore_index=True, join='inner')

union_inner

Compo podemos ver en el merge por tipo _inner_ la columna _households_ del nuevo dataset no aparece ya que no es un elemento común entre ambos datasets. No obstante hemos de tener en cuenta que si un dataset no tiene filas pertenecientes a una columna de otro dataset como es el caso de la columna _households_ que únicamente aparece en el nuevo dataset. Sus valores, pasarán a ser nulos.

## NUEVAS COLUMNAS <a name="newcolumnas"></a> 

En muchas ocasiones, vamos a necesitar añadir nuevas columnas a un dataframe o realizar modificaciones entre las columnas de un dataframe para obtener una nueva. Es importante saber que las operaciones se realizan de forma columnar, es decir, si dos columnas tienen una misma longitud podemos realizar una operación entre ambas si necesidad de iterara sobre sus filas.

Para agregar una nueva columna simplemente podemos crear una nueva variable con el nombre del dataframe y el nombre de la columna que vamos a crear.

In [ ]:
np.random.randint(65, 120, 10)

In [ ]:
union_inner['area'] = np.random.randint(65, 120, len(union_inner))

print(union_inner.columns)

In [ ]:
union_inner.head()

In [ ]:
# Podemos crear una nueva columna que sea la media de camas por habitaciones totales

union_inner['mean_bedrooms'] = round(union_inner['total_rooms'] / union_inner['total_bedrooms'],2)

In [ ]:
union_inner

## BORRADO DE FILAS Y COLUMNAS <a name="drop"></a> 

En algunas ocasiones, cuando realicemos limpieza de datos o, porque no sean objeto de nuestro análisis vamos a necesitar borrar filas o columnas de un dataframe, para ambos casos la función es la misma __<code>.drop</code>__, si el borrado queremos realizarlo para filas usaremos en el parámetro __axis__ el valor 0 y para las columnas el valor 1.

In [ ]:
union_inner = union_inner.drop(['housing_median_age', 'mean_bedrooms'], axis = 1)

union_inner

In [ ]:
# Borrado por filas
print('TODAS LAS FILAS')
print(union_inner, "\n")

union_inner = union_inner.drop(3, axis=0)

print('BORRADO DE FILA 3')
print(union_inner.head(5))

### GESTIÓN DE NULOS <a name="dropna"></a> 

Finalmente, como es habitual cuando trabajamos con dataframes pueden aparecer los _missing values_ o simplemente, valores nulos, en Python representados por el string __NaN__, mediante la función __<code>.isnull</code>__ podremos saber si un elemento de un dataframe es nulo o no, una práctica muy habitual es obtener el número de valores nulos por columna en un dataframe y su porcentaje.

In [ ]:
print("*CANTIDAD de datos nulos por columna en el dataframe")
print(union_outer.isnull().sum())
print("----------------------------------")
print("*PORCENTAJE de datos nulos por columna en el dataframe")
print(union_outer.isnull().sum()/len(union_outer)*100)

Si lo que queremos es reemplazar los valores nulos y no borrarlos haremos uso de la función __<code>.fillna</code>__

In [ ]:
union_outer['households'] = union_outer['households'].fillna(5)

In [ ]:
union_outer

In [ ]:
print("*CANTIDAD de datos nulos por columna en el data frame")
print(union_outer.isnull().sum())

Por el contrario, si lo que queremos es borrar los valores nulos de un dataframe podemos hacer uso de la función __<code>.dropna</code>__

In [ ]:
union_outer = pd.concat([first_positions, last_positions], 
                        ignore_index=True, join='outer', sort=False)

union_outer = union_outer.dropna()

print("*CANTIDAD de datos nulos por columna en el data frame")
print(union_outer.isnull().sum())

print(union_outer.shape)

In [ ]:
union_outer

### Escribiendo dataframe como csv

Al igual que podemos cargar datos de diferentes fuentes de datos y procesarlos como un dataframe, también podemos posteriormente escribir un dataframe en una de las múltiples fuentes que acepta pandas para exportar archivos, en esta ocasión, volcaremos la información de un dataframe como un .csv, para ello, disponemos de la función <code>**to_csv**</code>. Como parámetros utilizaremos, el nombre del archivo, el argumento __sep__ para utilizar un tipo de separador u otro y, si no queremos que se muestre el índice del dataframe, utilizaremos el argumento __index__ con valor _none_

In [ ]:
union_outer.to_csv('RESULTADOS.csv', sep=',', index=None)